<div class="col-xs-10 col-xs-offset-1 about-page">
	<h2 id="about-title">About Doomsayer</h2>
	<br />
	<p>
	Doomsayer was made by <a target="_blank" href="https://github.com/hayli">Hayli</a>. Obsessed by all things apocalyptic, this site was conceived to entertain, as well as collect the best indicators for impeding doom for all you crazy survivalists out there. 
	</p>
	<br />
	<p>
	Please contribute your words of wisdom! We also accept donations of canned foods or other necessities...
	<br />
	Here's a handy guide on 'How to Survive an Apocalypse' - <a target="_blank" href="http://gearpatrol.com/2012/12/18/survivalist-checklist/"> here</a>.
	</p>
	<br />
	<br />
	<br />
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'doomsayer_pic.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1" style="padding-top:85px;">
		<p class="text-center about-quote">
		“Don't wake me for the end of the world unless it has very good special effects.” 
		<br />
		</p>
		<p class="text-center">
		― Roger Zelazny, Prince of Chaos
		</p>
	</div>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />
	<br />
</div>