<h3><hr />
<span id="sign-num">Doom/ <%= @quote.unique_tag %></span>
You know its time to build that bomb shelter </br> and join a post-apocalyptic cult... 
<hr /></h3>

<h1><%= @quote.saying %></h1>
<h4>- <%= @quote.author %></h4>

<br class="clear" />


