/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  /*background-color: #f5f5f5;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.next-quote {
    color: #FF00A8; 
    font-size: 25px;
    padding-left: 50px;
    /* Helvetica/Arial-based sans serif stack */
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.next-quote:hover {
    color: #00D2FF;    
    text-decoration: underline;
}

.blurb {
    /*font-family: 'sansation_lightlight';*/
     /* Modern Georgia-based serif stack */
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-weight: bold;
    text-align: right;
    padding-right: 50px;
    font-size: 15px;
}


.blurb a {
  color: black;
  text-decoration: underline;
  /*color: #bdc3c7;*/
}

/* mouse over link */
.blurb a:hover {
  color: #FF00A8;
}

/* selected link */
.blurb a:active {
    color: #FF00A8;
}