@import url(https://fonts.googleapis.com/css?family=Lobster);


@media (max-width: 750px) {
	.nav-bar {
  		height: 120px;
	} 
	#logo-font {
		font-size: 25px;
	}
	#tagline {
		display: none;
	}
	.slogan {
		margin-top: 10px;
		text-align: center;
	}
	.links {
		font-size: 25px;
		text-align: center;
	}
}

@media (min-width: 751px){
	.nav-bar {
  		height: 100px;
	}
	#tagline {
		display: block;
	}
	.slogan{
		text-align: left;
	}
	.links {
		margin-top: 25px;
		text-align: right;
	}
}

.clear {
	clear:both;
}

.nav-bar {
  background: #1d0e28;
}

.eyes {
  width: 108px;
  height: 54px;
  position: absolute;
  top: 50%;
  left: 35%;
  margin-top: 15px;
  margin-left: 0px;
}

.eye {
  position: relative;
  background: #FFF;
  width: 50px;
  height: 50px;
  float: left;
  margin: 2px;
  overflow: hidden;
  animation: rotate 4s infinite;
}

.eye::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #1d0e28;
  animation: eye 4s infinite;
}

.eye::before,
.eye {
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

@keyframes rotate {
  
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62.5% {
    transform: rotate(-90deg);
  }
  87.5% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes eye {
  
}
@-webkit-keyframes eye {
  0% {
    top: 15px;
    left: 15px;
  }
  12.5% {
    top: 15px;
    left: 5px;
  }
  25% {
    top: 15px;
    left: 15px;
  }
  37.5% {
    top: 15px;
    left: 25px;
  }
  50% {
    top: 15px;
    left: 15px;
  }
  62.5% {
    top: 5px;
    left: 15px;
  }
  87.5% {
    top: 5px;
    left: 15px;
  }
  100% {
    top: 15px;
    left: 15px;
  }
}

h1 {
	/* Modern Georgia-based serif stack */
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	/* Helvetica/Arial-based sans serif stack */
	/*font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-weight: 600;
	letter-spacing: -1.5px;
	text-align: center;

}

h4 {
	/* Modern Georgia-based serif stack */
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: -1.5px;
	text-align: center;
}

h3 {
	color: #bdc3c7;
	font-family: 'Lobster', cursive;
	font-weight: normal;
	text-align: center;
	margin-top: 10%;
}

#sign-num {
	color: black;
	margin-bottom: 0px;
	/* Modern Georgia-based serif stack */
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: normal;
	font-size: 22px;
	text-align: center;
}

.logo:hover {
	text-decoration: none;
}

#logo-font {
	color: #FF00A8;
	font-family: 'sansation_lightlight';
	/* Helvetica/Arial-based sans serif stack */
	/*font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	letter-spacing: 0.5px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 0px;
}

.slogan {
	color: #FFF;
	/* Modern Georgia-based serif stack */
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-style: italic;
}

.links a {
	color: #FFF;
	/* Modern Georgia-based serif stack */
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 25px;
	/*font-weight: bold;*/
}

/* mouse over link */
.links a:hover {
    text-decoration: underline;
}

/* selected link */
.links a:active {
    color: #DEFF00;
}

header {
  border-top: 9px solid #DEFF00;
}

hr {
  clear:both;
  margin: 0px;
}

.about-page {
	/* Modern Georgia-based serif stack */
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.about-page a{
	color: black;
	text-decoration: underline;
}

.about-page a:hover{
	color: #FF00A8;
}

#about-title {
	font-family: 'sansation_lightlight';
}

.about-quote {
	color: #bdc3c7;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

.modal {
	font-family: 'sansation_lightlight';
	/* Helvetica/Arial-based sans serif stack */
	/*font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

::selection {
	background-color: #DEFF00;
}